[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-crispy-forms = "*"
django-braces = "*"
pillow = "*"
numpy = "*"
lyricsgenius = "*"
requests = "*"

[dev-packages]

[requires]
python_version = "3.9"
