/* CSS HEX */
--platinum: #eaeaeaff;
--gainsboro: #e4dfe2ff;
--languid-lavender: #ded3daff;
--amaranth-m-p: #893168ff;
--dark-purple: #4a1942ff;
--dark-purple-2: #3c1b37ff;
--dark-purple-3: #2e1c2bff;
--xiketic: #1a1018ff;
--black: #050404ff;

/* CSS HSL */
--platinum: hsla(0, 0%, 92%, 1);
--gainsboro: hsla(324, 8%, 88%, 1);
--languid-lavender: hsla(322, 14%, 85%, 1);
--amaranth-m-p: hsla(323, 47%, 36%, 1);
--dark-purple: hsla(310, 49%, 19%, 1);
--dark-purple-2: hsla(309, 38%, 17%, 1);
--dark-purple-3: hsla(310, 24%, 15%, 1);
--xiketic: hsla(312, 24%, 8%, 1);
--black: hsla(0, 11%, 2%, 1);

/* SCSS HEX */
$platinum: #eaeaeaff;
$gainsboro: #e4dfe2ff;
$languid-lavender: #ded3daff;
$amaranth-m-p: #893168ff;
$dark-purple: #4a1942ff;
$dark-purple-2: #3c1b37ff;
$dark-purple-3: #2e1c2bff;
$xiketic: #1a1018ff;
$black: #050404ff;

/* SCSS HSL */
$platinum: hsla(0, 0%, 92%, 1);
$gainsboro: hsla(324, 8%, 88%, 1);
$languid-lavender: hsla(322, 14%, 85%, 1);
$amaranth-m-p: hsla(323, 47%, 36%, 1);
$dark-purple: hsla(310, 49%, 19%, 1);
$dark-purple-2: hsla(309, 38%, 17%, 1);
$dark-purple-3: hsla(310, 24%, 15%, 1);
$xiketic: hsla(312, 24%, 8%, 1);
$black: hsla(0, 11%, 2%, 1);

/* SCSS RGB */
$platinum: rgba(234, 234, 234, 1);
$gainsboro: rgba(228, 223, 226, 1);
$languid-lavender: rgba(222, 211, 218, 1);
$amaranth-m-p: rgba(137, 49, 104, 1);
$dark-purple: rgba(74, 25, 66, 1);
$dark-purple-2: rgba(60, 27, 55, 1);
$dark-purple-3: rgba(46, 28, 43, 1);
$xiketic: rgba(26, 16, 24, 1);
$black: rgba(5, 4, 4, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #eaeaeaff, #e4dfe2ff, #ded3daff, #893168ff, #4a1942ff, #3c1b37ff, #2e1c2bff, #1a1018ff, #050404ff);
$gradient-right: linear-gradient(90deg, #eaeaeaff, #e4dfe2ff, #ded3daff, #893168ff, #4a1942ff, #3c1b37ff, #2e1c2bff, #1a1018ff, #050404ff);
$gradient-bottom: linear-gradient(180deg, #eaeaeaff, #e4dfe2ff, #ded3daff, #893168ff, #4a1942ff, #3c1b37ff, #2e1c2bff, #1a1018ff, #050404ff);
$gradient-left: linear-gradient(270deg, #eaeaeaff, #e4dfe2ff, #ded3daff, #893168ff, #4a1942ff, #3c1b37ff, #2e1c2bff, #1a1018ff, #050404ff);
$gradient-top-right: linear-gradient(45deg, #eaeaeaff, #e4dfe2ff, #ded3daff, #893168ff, #4a1942ff, #3c1b37ff, #2e1c2bff, #1a1018ff, #050404ff);
$gradient-bottom-right: linear-gradient(135deg, #eaeaeaff, #e4dfe2ff, #ded3daff, #893168ff, #4a1942ff, #3c1b37ff, #2e1c2bff, #1a1018ff, #050404ff);
$gradient-top-left: linear-gradient(225deg, #eaeaeaff, #e4dfe2ff, #ded3daff, #893168ff, #4a1942ff, #3c1b37ff, #2e1c2bff, #1a1018ff, #050404ff);
$gradient-bottom-left: linear-gradient(315deg, #eaeaeaff, #e4dfe2ff, #ded3daff, #893168ff, #4a1942ff, #3c1b37ff, #2e1c2bff, #1a1018ff, #050404ff);
$gradient-radial: radial-gradient(#eaeaeaff, #e4dfe2ff, #ded3daff, #893168ff, #4a1942ff, #3c1b37ff, #2e1c2bff, #1a1018ff, #050404ff);